* {
	font-family: "Calibri"
}

div#residents, div#datepicker, {
	margin:10px auto;
	width:500px;
}

div#residents table{
	margin:10px auto;
	width:300px;
}

div#datepicker, .ui-datepicker{
	text-align:center;
	margin: 0 auto;
}

#date{
	background-color: rgba(248, 184, 78, 1);
	border-radius: 100px;
	display:inline-block;
	padding:5px;
	box-shadow: 1px 2px 1px #888888;
	cursor:hand;
}