* {
	font-family: "Calibri"
}

div#residents, div#datepicker, {
	margin:10px auto;
	width:500px;
}

div#residentList{
	margin:10px auto;
	width:180px;
}

#residentList div{
	padding:5px;
}

div#datepicker, .ui-datepicker{
	text-align:center;
	margin: 0 auto;
}

#date, .button{
	background-color: rgba(248, 184, 78, 1);
	border-radius: 100px;
	display:inline-block;
	padding:5px;
	box-shadow: 1px 2px 1px #888888;
	cursor:hand;
}

#email{
	margin:0px auto;
	width:75px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:black;
}