* {
	font-family: "Calibri"
}

div#residents, div#datepicker, {
	margin:10px auto;
	width:75%;
}

div#residents table{
	margin:10px auto;
	width:50%;
}

div#datepicker, .ui-datepicker{
	text-align:center;
	margin: 0 auto;
}