<html>

<head>

<link rel="stylesheet" href="css/jquery-ui.min.css" />
<link rel="stylesheet" href="css/main.css" />

<script type="template" id="residentBlockTemplate">
	<div title="Off of <%=block%>"><%= name %></div>
</script>

<script type="template" id="date">
	<h2>Interns not working on <span id="date"><%= date %></span></h2>
</script>

<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/libs/underscore.js"></script>
<script type="text/javascript" src="js/libs/backbone.js"></script>
<script type="text/javascript" src="js/models/residentOffForDayModel.js"></script>
<script type="text/javascript" src="js/collections/residentsOffCollection.js"></script>
<script type="text/javascript" src="js/models/scheduleModel.js"></script>
<script type="text/javascript" src="js/views/residentBlockView.js"></script>
<script type="text/javascript" src="js/views/datePickerView.js"></script>
<script type="text/javascript" src="js/views/emailView.js"></script>


<script type="text/javascript">
pad = function (val, len) {
		val = String(val);
        len = len || 2;
        while (val.length < len) val = "0" + val;
        return val;
	};

schedule = new app.scheduleModel({});

$(function(){
	d = new app.datePickerView({model: schedule, el: $('#datepicker')});
	d.render();

	v = new app.residentBlockView({model : schedule, el : $('#residentList') })
	schedule.getResidentsOffForDate(new Date())

	email = new app.emailView({el : $("#email"), model : schedule})

})
</script>

</head>

<body>


<div id="residents">
	<div id="datepicker"></div>
	<hr />
	<a id="email" class="button">
		Email All
	</a>
	<div style="text-align:center;font-size:14px">Only works with Partners email address in Outlook. (for now)</div>
	<hr />
	<div id="residentList"></div>
</div>

</body>
</html>