<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<link rel="stylesheet" href="css/main.css" />

<script type="template" id="residentBlockTemplate">
	<li title="Off of <%=block%>" class="list-group-item"><%= name %></li>
</script>

<script type="template" id="date">
	<h2><span class="label" id="date"><%= date %></span></h2>
</script>

<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/libs/underscore.js"></script>
<script type="text/javascript" src="js/libs/backbone.js"></script>
<script type="text/javascript" src="js/models/residentOffForDayModel.js"></script>
<script type="text/javascript" src="js/models/datePickerModel.js"></script>
<script type="text/javascript" src="js/collections/residentsOffCollection.js"></script>
<script type="text/javascript" src="js/models/scheduleModel.js"></script>
<script type="text/javascript" src="js/views/residentBlockView.js"></script>
<script type="text/javascript" src="js/views/datePickerView.js"></script>
<script type="text/javascript" src="js/views/emailView.js"></script>


<script type="text/javascript">
pad = function (val, len) {
		val = String(val);
        len = len || 2;
        while (val.length < len) val = "0" + val;
        return val;
	};


$(function(){
	dm = new app.datePickerModel();
	d = new app.datePickerView({model: dm, el: $('#datepicker')});
	d.render();

	internSchedule = new app.scheduleModel({pgy: "interns", dateModel : dm});
	juniorSchedule = new app.scheduleModel({pgy: "juniors", dateModel : dm});
	seniorSchedule = new app.scheduleModel({pgy: "seniors", dateModel : dm});

	new app.residentBlockView({model : internSchedule, el : $('#InternOffList')})
	new app.residentBlockView({model : juniorSchedule, el : $('#JuniorOffList') })
	new app.residentBlockView({model : seniorSchedule, el : $('#SeniorOffList') })
	
	email = new app.emailView({el : $("#internemail"), model : internSchedule})

})
</script>

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="datepicker"></div>
		</div>
	</div>
	<hr />

	<hr />
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Interns Off</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group" id="InternOffList"></ul>
					<div class="row">
						<div class="col-sm-12">
							<a id="internemail" class="email-button label">Email All</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="text-align:center">Only works with Partners email address in Outlook. (for now)</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Juniors Off</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group" id="JuniorOffList"></ul>
					<div class="row">
						<div class="col-sm-12">
							<a id="junioremail" class="email-button label">Email All</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="text-align:center">Only works with Partners email address in Outlook. (for now)</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Seniors Off</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group" id="SeniorOffList"></ul>
					<div class="row">
						<div class="col-sm-12">
							<a id="senioremail" class="email-button label">Email All</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="text-align:center">Only works with Partners email address in Outlook. (for now)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>


</body>
</html>