<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<link rel="stylesheet" href="css/main.css" />

<script type="template" id="residentBlockTemplate">
	<li title="Off of <%=block%>" class="list-group-item"><%= name %></li>
</script>

<script type="template" id="date">
	<h2><span class="label" id="date"><%= date %></span></h2>
</script>

<script type="text/javascript" src="js/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/libs/underscore.js"></script>
<script type="text/javascript" src="js/libs/backbone.js"></script>
<script type="text/javascript" src="js/models/residentOffForDayModel.js"></script>
<script type="text/javascript" src="js/collections/residentsOffCollection.js"></script>
<script type="text/javascript" src="js/models/scheduleModel.js"></script>
<script type="text/javascript" src="js/views/residentBlockView.js"></script>
<script type="text/javascript" src="js/views/datePickerView.js"></script>
<script type="text/javascript" src="js/views/emailView.js"></script>


<script type="text/javascript">
pad = function (val, len) {
		val = String(val);
        len = len || 2;
        while (val.length < len) val = "0" + val;
        return val;
	};

schedule = new app.scheduleModel({});

$(function(){
	d = new app.datePickerView({model: schedule, el: $('#datepicker')});
	d.render();

	v = new app.residentBlockView({model : schedule, el : $('#DayOffResidentList') })
	schedule.getResidentsOffForDate(new Date())

	email = new app.emailView({el : $("#email"), model : schedule})

})
</script>

</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="datepicker"></div>
		</div>
	</div>
	<hr />

	<hr />
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Day Off</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group" id="DayOffResidentList"></ul>
					<a id="email" class="button label">Email All</a>
					<div style="text-align:center;font-size:14px">Only works with Partners email address in Outlook. (for now)</div>
				</div>
			</div>
		</div>
	</div>
	
</div>


</body>
</html>